{% extends "master.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Velkommen, {{ username }}!</h1>
    
    {% if request.user.is_staff%}
        <form action="{% url 'home' %}" method="POST">
            {%csrf_token %}
            {% if allCasesView == True %}
                  <input type="hidden" name="inpallCasesView" id="inpallCasesView" value="False">
                <button type="submit">Se dine saker</button>
            {% else %}
                <input type="hidden" name="inpallCasesView" id="inpallCasesView" value="True">
                <button type="submit">Se alle saker</button>
            {% endif %}
        </form> 
    {% endif %}
    <div class="container mt-4">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>Ticket ID</th>
            <th>Title</th>
            <th>Status</th>
            <th>Created</th>
            <th>Deadline</th>
            <th>Case Manager</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
          <tr onclick="window.location.href='{% url 'TicketView' ticket.Ticket_id %}';"style="cursor: pointer;">
            <td>{{ ticket.Ticket_id }}</td>
            <td>{{ ticket.Title }}</td>
            <td>{{ ticket.get_Status_display }}</td>
            <td>{{ ticket.Created_at|date:"Y-m-d H:i" }}</td>
            <td>{{ ticket.Deadline }}</td>
            <td>
              {{ ticket.Casemanager_id.username|default:"Ingen saksbehandler" }}
            </td>
          </tr>
          {% empty %}

          <tr>
            <td colspan="7" class="text-center">Du har ingen tickets</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
        {% if tickets.has_previous %}
          <a href="?page={{tickets.previous_page_number}}">forrige side</a>
        {% endif %}
        <span>{{tickets.number}} av {{tickets.paginator.num_pages}}</span>
        {% if tickets.has_next %}
        <a href="?page={{tickets.next_page_number}}">neste side</a>
        {% endif %}
      </div>
{% endblock %}
