{% extends "master.html" %}

{% block title %}Ticket View{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% if ticket %}
        <div class="card">
            <div class="card-header">
                <h3>Ticket Details</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mt-3">Lagre</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <p><strong>Opprettet:</strong> {{ ticket.Created_at|date:"Y-m-d H:i" }}</p>
                <p><strong>Sist endret:</strong> {{ ticket.Changed_at|date:"Y-m-d H:i" }}</p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
